body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  } 

body {
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    margin-top: 150px; 
    padding: 30px;
}

.top {
    display: flex;
    flex-direction: column;
    border: 1px solid limegreen;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100% ;
   
}

.title {
    background-color: aquamarine;
    margin: 0px;
    width: 100%;
}

.input {
 display: flex;
 flex-direction: row;
 margin-top: 30px;
}

.todo {
    color: white;
    margin: 0px;
    text-align: center;
}

.input-task {
    margin:0px;
    border-bottom: 10px solid black;
}

.add-to-list {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: aqua;
}
